:root {
  /* color */
  --color-main-text: #263036;
  --color-link: #1c2e8c;
  --color-hover: #ef830f;
  --color-title: #1e1e1e;
  --color-additional: #fff;

  /* background-color */
  --background-body: #8a8383;
  --background-main: #fcfcfc;
  --background-aside: #86a3b4;

  /* sizes */
  --space-five: 5px;
  --space-ten: 10px;
  --space-twenty: 20px;
  --space-twenty-five: 25px;
  --space-thirty: 30px;
  --space-forty: 40px;
  --space-fifty: 50px;
  --space-big: 385px;
}

body {
  font-family: "Monrope", sans-serif;
  background-color: var(--background-body);
}
.wrapper {
  display: flex;
  background-color: var(--background-main);
  max-width: 1200px;
  margin: 0 auto;
}
/* Aside */
.aside {
  height: auto;
  width: 100%;
  background-color: var(--background-aside);
  border-right: 1px solid #000;
  box-shadow: 1px 0px 13px 7px rgba(80, 75, 75, 0.25);
}
.aside__container {
  width: 100%;
  height: auto;
}
.aside__title {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-additional);
  margin-top: var(--space-thirty);
  margin-left: var(--space-forty);
}
.aside__title span {
  color: var(--color-link);
}
.aside__img {
  margin-top: var(--space-thirty);
  width: 100%;
  height: auto;
  transition: transform .2s;
}
.aside__img:hover {
  transform: scale(1.3);
  margin-left: 77px;  
  margin-top: 100px;
  filter: drop-shadow(10px 10px 16px rgba(0, 0, 0, 0.25));
}
.aside__contact {
  margin-top: var(--space-thirty);
  margin-left: var(--space-forty);
  margin-right: var(--space-forty);
}
.aside__subTitle {
  font-weight: 600;
  font-size: 26px;
  color: var(--color-main-text);
}
.aside__subTitle::after {
  content: "";
  display: block;
  height: 4px;
  background-color: var(--color-main-text);
  margin-top: var(--space-five);
  width: 100%;
}
.aside__subSubTitle {
  margin-top: var(--space-twenty);
  font-weight: 600;
  font-size: 22px;
  color: var(--color-main-text);
}
.aside__text {
  font-weight: 600;
  color: var(--color-main-text);
}
.aside__link {
  font-weight: 600;
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link);
}
.aside__link:hover {
  color: var(--color-hover);
  border-bottom: 1px solid var(--color-hover);
}
.aside__language {
  padding-bottom: var(--space-thirty);
  margin-top: var(--space-thirty);
  margin-left: var(--space-forty);
  margin-right: var(--space-forty);
}
.aside__language .aside__subSubTitle:nth-child(3) {
  margin-top: var(--space-five);
}
/* Info */
.info {
  padding-left: var(--space-fifty);
  padding-right: var(--space-fifty);
}
.info__container {
}
.info__summary {
}

.title {
  font-weight: 600;
  font-size: 28px;
  color: var(--color-main-text);
  margin-top: var(--space-thirty);
}
.title::after {
  content: "";
  display: block;
  height: 4px;
  background-color: var(--color-main-text);
  width: 100%;
  margin-top: var(--space-twenty);
  margin-bottom: var(--space-twenty);
}
.info__summaryText {
  line-height: 25px;
  font-weight: 400;
  color: var(--color-main-text);
  font-size: 18px;
}
.info__skills {
}
.info__skillsTitle {
}
.info__skillsList {
}
.info__skillsItem {
  list-style-type: disc;
  line-height: 25px;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-main-text);
}
.info__works {
}
.info__worksTitle {
}
.info__eclipse {
}
.info__list {
  margin-top: var(--space-twenty);
}
.info__item {
  line-height: 25px;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-main-text);
}
.info__strong {
  font-weight: 600;
}
.info__link {
  color: var(--color-link);
  border-bottom: 1px solid var(--color-link);
}
.info__link:hover {
  color: var(--color-hover);
  border-bottom: 1px solid var(--color-hover);
}
.info__SubList {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-main-text);
}
.info__SubItem {
}
.info__archProject ,
.info__exlipseAluminum,
.info__modernExpo {
  opacity: 70%;
}
.info__archProject:hover ,
.info__exlipseAluminum:hover,
.info__modernExpo:hover {
opacity: 100%;
}
.info__education {
}
.info__educationTitle {
}
.info__academy {
}
.info__educationText {
  line-height: 25px;
  font-weight: 400;
  color: var(--color-main-text);
  font-size: 18px;
}
.info__college {
  margin-top: var(--space-twenty);
}
.info__btn {
  margin-top: var(--space-thirty);
  padding-bottom: var(--space-twenty);
}
.info__btnLink {
  background-color: var(--color-link);
  color: var(--color-additional);
  padding: var(--space-ten) var(--space-twenty-five);
  border-radius: 5px;
}
.info__btnLink:hover {
  background-color: var(--color-hover);
  text-transform: uppercase;
}

/*  */
@media screen and (max-width: 1100px) {
  .info {
    padding-left: var(--space-thirty);
    padding-right: var(--space-thirty);
  }
  .title::after {
    margin: 15px 0;
  }
  .title {
    margin-top: 20px;
  }
  .info__list {
    margin-top: 10px;
  }
}
@media screen and (max-width: 700px) {
  .aside__contact,
  .aside__language {
    margin-left: var(--space-thirty);
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .aside {
    height: 100%;
    width: 100%;
  }
  .aside__container {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 410px) {
  .enters-comment {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .aside__img {
    text-align: center;
  }
  .aside__language {
    padding-bottom: 60px;
  }
}
